<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25F80</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fresh Coast Connect</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>Fresh Coast Connect</string>
	<key>CFBundleIconFile</key>
	<string>app-icon</string>
	<key>CFBundleIdentifier</key>
	<string>app.glaze.macos.1wu7swnu-local</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fresh Coast Connect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.glaze.macos.1wu7swnu-local</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glaze-1wu7swnu-local</string>
				<string>com.glaze</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>glaze-macos-commands</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glaze-macos</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25E251</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.4</string>
	<key>DTSDKBuild</key>
	<string>25E251</string>
	<key>DTSDKName</key>
	<string>macosx26.4</string>
	<key>DTXcode</key>
	<string>2641</string>
	<key>DTXcodeBuild</key>
	<string>17E202</string>
	<key>GlazeShellVersion</key>
	<string>2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Glaze needs access to automate actions in other apps when requested by this app.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Glaze needs access to Bluetooth to support features in this app.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Glaze needs access to your Calendar to support features in this app.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Glaze needs access to your Calendar to support features in this app.</string>
	<key>NSCameraUsageDescription</key>
	<string>Glaze needs access to your Camera to support features in this app.</string>
	<key>NSContactsUsageDescription</key>
	<string>Glaze needs access to your Contacts to support features in this app.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Glaze needs access for reading files from that folder.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Glaze needs access for reading files from that folder.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Glaze needs access for reading files from that folder.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Glaze needs access for reading files from that location.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Raycast Technologies Ltd.
2019-2026. All Rights Reserved.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Glaze needs access to your location to support features in this app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Glaze needs access to your location to support features in this app.</string>
	<key>NSLocationUsageDescription</key>
	<string>Glaze needs access to your location to support features in this app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Glaze needs access to your Microphone to support features in this app.</string>
	<key>NSPrincipalClass</key>
	<string>GlazeTemplateApp.Application</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Glaze needs access to your Reminders to support features in this app.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Glaze needs access to your Reminders to support features in this app.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Glaze needs access for reading files from removable volumes.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Glaze needs access to Speech Recognition to support features in this app.</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>com.apple.security.temporary-exception.mach-register.global-name</key>
	<array>
		<string>com.apple.linkd.autoShortcut</string>
	</array>
</dict>
</plist>
